# MadGraph directory
MADGRAPH_PATH=/home/lo/Source/MadGraph5_v1_5_1

# Directory where all the MadEvent output from MadGraph is stored.
OUTPUT=out

# Path for the simplified model in MadGraph directory. This directory should not exist
MODEL_PATH=SIMPLIFIED_GLUINO

# cmds for mg5 in MadGraph. 
# Don't put the "output" cmd in this file. It will be added automatically according to your MODEL_PATH.
MG5_INPUT=templates/mg5_input.txt

# cards for madevent
ME_CONFIG_TEMPLATE=templates/me5_configuration_template.txt
PYTHIA_CARD_TEMPLATE=templates/pythia_card_template.dat
RUN_CARD_TEMPLATE=templates/run_card_template.dat
PARAM_CARD_TEMPLATE=templates/param_card_template.dat

# specify the {m_gluino,m_lsp}-grid
M_GLUINO_MIN=150
M_GLUINO_MAX=350
M_GLUINO_STEP=100

M_LSP_MIN=100
M_LSP_STEP=50

# specify the chargino mass
RVALUE=0.5

